<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"
        id="org.bcsphere.bluetooth" version="0.5.1">

    <name>Bluetooth</name>
    <description>The "BCSphere/Bluetooth" is a professional Bluetooth plugin. It is the core implementation of Universal Bluetooth JavaScript API by a Bluetooth expert team. It supports both Bluetooth 4.0 GATT interface in iOS/Android and Bluetooth 2.1 Classical interface in Android.</description>
    <license>Apache 2.0</license>
    <keywords>bcsphere,bluetooth,ibeacon</keywords>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
	
    <js-module src="www/org.underscorejs.underscore/underscore.js" name="underscorejs.underscore">
        <clobber target="_" />
    </js-module>
    <js-module src="www/org.bcsphere/bc.js" name="bcsphere.bcjs">
        <clobber target="BC" />
    </js-module>
	<js-module src="www/org.bcsphere.bluetooth/bluetoothapi.js" name="bcsphere.bluetooth.bluetoothapi">
        <merges target="navigator.bluetooth" />
    </js-module>
	<js-module src="www/org.bluetooth.profile/proximity.js" name="bluetooth.profile.proximity">
        <merges target="BC" />
    </js-module>
	<js-module src="www/org.bluetooth.profile/find_me.js" name="bluetooth.profile.find_me">
        <merges target="BC" />
    </js-module>
	<js-module src="www/org.bluetooth.profile/serial_port.js" name="bluetooth.profile.serial_port">
        <merges target="BC" />
    </js-module>
	<js-module src="www/org.bluetooth.service/battery_service.js" name="bluetooth.service.battery_service">
        <merges target="BC" />
    </js-module>
	<js-module src="www/org.bluetooth.service/blood_pressure.js" name="bluetooth.service.blood_pressure">
        <merges target="BC" />
    </js-module>
	<js-module src="www/org.bluetooth.service/health_thermometer.js" name="bluetooth.service.health_thermometer">
        <merges target="BC" />
    </js-module>
	<js-module src="www/org.bluetooth.service/immediate_alert.js" name="bluetooth.service.immediate_alert">
        <merges target="BC" />
    </js-module>
	<js-module src="www/org.bluetooth.service/link_loss.js" name="bluetooth.service.link_loss">
        <merges target="BC" />
    </js-module>
	<js-module src="www/org.bluetooth.service/serial_port.js" name="bluetooth.service.serial_port">
        <merges target="BC" />
    </js-module>
	<js-module src="www/org.bluetooth.service/tx_power.js" name="bluetooth.service.tx_power">
        <merges target="BC" />
    </js-module>
	<js-module src="www/org.bcsphere.ibeacon/ibeaconapi.js" name="bcsphere.ibeacon.ibeaconapi">
        <merges target="navigator.ibeacon" />
    </js-module>	
	<js-module src="www/org.bcsphere/ibeacon.js" name="bcsphere.ibeacon">
        <merges target="BC" />
    </js-module>		
	
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BCBluetooth">
                <param name="android-package" value="org.bcsphere.bluetooth.BCBluetooth"/>
            </feature>
        </config-file>
		
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.BLUETOOTH"/>
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
        </config-file>
		
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
        </config-file>

        <source-file src="src/android/org/bcsphere/bluetooth/BCBluetooth.java" target-dir="src/org/bcsphere/bluetooth" />
		<source-file src="src/android/org/bcsphere/bluetooth/IBluetooth.java" target-dir="src/org/bcsphere/bluetooth" />
		<source-file src="src/android/org/bcsphere/bluetooth/BluetoothG43plus.java" target-dir="src/org/bcsphere/bluetooth" />
		<source-file src="src/android/org/bcsphere/bluetooth/BluetoothSerialService.java" target-dir="src/org/bcsphere/bluetooth" />
		<source-file src="src/android/org/bcsphere/bluetooth/tools/BluetoothDetection.java" target-dir="src/org/bcsphere/bluetooth/tools" />
		<source-file src="src/android/org/bcsphere/bluetooth/tools/Tools.java" target-dir="src/org/bcsphere/bluetooth/tools" />
    </platform>
   

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BCBluetooth">
                <param name="ios-package" value="BCBluetooth"/>
            </feature>
        </config-file>
        <header-file src="src/ios/BCBluetooth.h" />
	<source-file src="src/ios/BCBluetooth.m" />
        <framework src="CoreBluetooth.framework" weak="true" />
    </platform>

</plugin>
